/* ==UserStyle==
@name           Clean Fandom
@namespace      github.com/8LWXpg/user-styles
@version        1.0.0
@description    Fandom UI debloat
@author         8LWXpg
@preprocessor 	less

@var range containerWidth "Main container width" [900, 800, 1200, 100, 'px']
==/UserStyle== */
@-moz-document domain("fandom.com") {
	.global-navigation,
	.page__right-rail,
	.mcf-wrapper,
	.notifications-placeholder,
	.highlight__sticky-container,
	#global-explore-navigation,
	#WikiaBar {
		display: none !important;
	}

	.main-container {
		margin: 0;
		width: 100%;
	}

	.resizable-container {
		max-width: @containerWidth;
		font-size: 16px;
	}

	.page-content h2 {
		overflow: visible;
	}
}
